.page-chat {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #ebebeb;
}
.mint-header {
  background-color: #1c1b21;
  font-size: 16px;
  height: 0.86rem;
  .iconfont {
    font-size: 22px;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1rem;
  background: #f3f3f5;
  input {
    height: 0.64rem;
    flex: 1;
    padding: 0 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-size: 12px;
  }
  .footer-item {
    width: 0.56rem;
    height: 0.56rem;
    padding: 0 0.2rem;
  }
  .footer-item:last-child {
    padding-left: 0;
  }
}