.wechat {
  margin-top: 0.86rem;
}
.message-list {
  overflow-x: hidden;
  li {
    position: relative;
    height: 1rem;
    padding: 9px 0;
    margin-left: 9px;
    transition-duration: .3s;
    transition-timing-function: linear;
    @include border-1px(bottom, #d6d5db);
    .content {
      position: relative;
      .avatar {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 5px;
        background-color: #eeeeee;
      }
      .message {
        position: absolute;
        top: 0;
        left: 1rem;
        right: 1rem;
        padding: 0 0.14rem;
        box-sizing: border-box;
        .name {
          font-size: 15px;
          padding: 3px 0;
          color: #000000;
        }
        .text {
          font-size: 12px;
          color: #8d8d8d;
          @include ell();
        }
      }
      .time {
        position: absolute;
        right: 9px;
        top: 9px;
      }
    }
    .btn-group {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      .btn-delete {
        background-color: #b4282d;
        color: #ffffff;
        width: 75px;
        height: 1.36rem;
        line-height: 1.36rem;
        text-align: center;
      }
    }
  }
}