.mint-header {
  background-color: #1c1b21;
  font-size: 16px;
  height: 0.86rem;
  .iconfont {
    font-size: 22px;
  }
}
.mint-tabbar {
  background: #f7f7f7;
  height: 0.98rem;
  border-top: 1px solid #d6d5db;
}
.mint-tab-item {
  color: #7a7981;
  .iconfont {
    font-size: 0.56rem;
  }
  &.is-selected {
    color: #2ca146;
    background: #f7f7f7;
  }
}